.incMRoundBorderRadiusClass {
	border-radius:50%;
	vertical-align:middle;
}
.inctureMDMargin0_5remClass {
	margin: 0.5rem;
}
.inctureMDUserDetailsClass.sapMLIB {
	background-color: transparent;
}
.inctureMDUserDetailsClass.sapMLIB .sapMSLITitle {
	color: white;
}
.inctureMDUserDetailsClass.sapMLIB .sapMSLIDescription {
	color: white;
}
.inctureMDMasterVBoxClass .sapMText {
	color: white;
	text-shadow: none;
	cursor: pointer;
	vertical-align: middle;
}
/* Changing title inside VBox of Master Page */
.inctureMDMasterVBoxClass .sapMTitle {
	color: white;
	text-shadow: none;
	cursor: pointer;
	vertical-align: middle;
}
.inctureMDMasterVBoxClass .sapUiIcon {
	color: white;
	text-shadow: none;
	cursor: pointer;
}
.inctureMDMasterVBoxClass .inctureMDMasterPanelClass.inctureMDMasterPanelSolidClass .sapMTB{
	background-color: #f2f2f2;
	border-left: .5rem solid #4285f4;
}

.inctureMDMasterVBoxClass .inctureMDMasterPanelClass .sapMIBar.sapMTB .sapMBarChild{
	margin-right: 0rem;
	margin-left: 0;
}

/** Change the color of text once the Panel is selected */
.inctureMDMasterVBoxClass .inctureMDMasterPanelSolidClass .sapMText {
	color: #252525;
	text-shadow: none;
	cursor: pointer;
}

/** Change the color of title once the Panel is selected */
.inctureMDMasterVBoxClass .inctureMDMasterPanelSolidClass .sapMTitle {
	color: #252525;
	text-shadow: none;
	cursor: pointer;
}
/** Change the color of Icon once the Panel is selected */
.inctureMDMasterVBoxClass .inctureMDMasterPanelSolidClass .sapUiIcon {
	color: #252525;
	text-shadow: none;
	cursor: pointer;
}
.inctureMDMasterPanelClass .sapMPanelExpandableIcon {
	visibility: hidden;
	width: 0;
}

/** Master Panel classes */
.inctureMDMasterPanelClass .sapMTB {
	margin-left: 0rem !important;
	border-left: .5rem solid #252525;
	border-bottom: 0;
	height: 2.5rem;
}

.inctureMDMasterPanelClass .sapMPanel>.sapMPanelHdr,
	.inctureMDMasterPanelClass.sapMPanelWrappingDiv,
	.inctureMDMasterPanelClass .sapMPanelWrappingDivTb {
	border-bottom: 0;
	height: 2.5rem;
}

/* This class Creates the Round circle on the Number of list item present on Each Panel ( on right side). */
.inctureMDMasterPanelClass .inctureMDBadge {
	background: #f2f2f2;
	color: #252525;
	width: 1rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	border-radius: 50%;
	box-shadow: 0 0 1px #333;
}

.inctureMDMasterPanelClass .sapMHBox {
	cursor: pointer;
}

.inctureMDMasterPanelClass .sapMPanelContent {
	padding: 0;
}
.inctureMDMasterVBoxClass .inctureMDMasterPanelClass.inctureMDMasterPanelSolidClass .sapMTB {
	background-color: #f2f2f2;
	border-left: .5rem solid #4285f4;
}

.inctureMDMasterVBoxClass .inctureMDMasterPanelClass .sapMIBar.sapMTB .sapMBarChild {
	margin-right: 0rem;
	margin-left: 0;
}
.InctureMDLMargin1remClass {
	margin-left: 1rem !important;
}
.inctureMDMasterListClass .inctureMDMasterListItemClass {
	background: #252525 !important;
	border-bottom: 0;
	border-left: .5rem solid #424040;
	height: 2.5rem;
}
/** Remove the hightlight class after click. Dotted border */
.inctureMDMasterListClass .sapMLIBFocusable:focus {
	outline: 0;
}

/** Once the list item is selected, change the background color */
.inctureMDMasterListClass .inctureMDMasterListItemClass.sapMLIBSelected {
	background:rgba(242, 242, 242, 0.64) !important;;
	border-bottom: 0;
	border-left: .5rem solid #4285f4;
}

/** Color of text when list item IS NOT selected */
.inctureMDMasterListClass .inctureMDMasterListItemClass:not(.sapMLIBSelected) .sapMText {
	color: #f2f2f2;
}

/** Color of text when list item IS selected */
.inctureMDMasterListClass .inctureMDMasterListItemClass.sapMLIBSelected .sapMText {
	color: #252525;
}
.InctureMDLMargin4remClass {
	margin-left: 4rem;
}
.inctureMDMasterListClass .inctureMDMasterListItemClass .sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
    background: #252525 !important;
}
.inctureMDMasterListItemClass .sapMSLITitleOnly {
    font-size: 1rem;
    color: #f5eeee;
}
.inctureMDMasterListItemTextClass .sapMSLITitleOnly {
    font-size: 0.8rem !important;
    color: #f5eeee;
}
/*-------------------------------------------App------------------------------*/
/* .inctureMDShellClass .sapUiUfdShellHead{
	height:3rem;
	background-color: rgb(11, 109, 63) !important;
} */

.inctureMDShellClass .sapUiUfdShellCanvas {
	top:3.2rem;
}
.inctureMDShellClass .sapUiUfdShellHeadItm>span {
	color: #fff;
}

.inctureMDShellClass .sapUiUfdShellHead {
	height: 3rem;
	top: 0px;
	background: transparent !important;
}

.inctureMDShellClass .sapUiUfdShellCanvas {
	top: 2.75rem;
}

.inctureMDShellClass .sapUiUfdShellBrand {
	background-color: transparent;
}

.inctureMDShellClass .sapUiUfdShell {
	background-color: #0080b9;
}

.inctureMDShellClass .sapUiUfdShellHead>div {
	background-color: #0080b9;
}

.inctureMDShellClass .sapUiUfdShellSearch {
	width: 70%;
	max-width: none;
}

.inctureMDShellClass .sapUiUfdShellHeadCenter {
	text-align: left;
	left: 15.5rem !important;
}

/** Header Logo Class **/
.inctureMDShellClass .sapUiUfdShellHeadBegin>.sapUiUfdShellIco {
	padding-left: 50px;
	margin-top: -5px;
}

.inctureMDShellClass .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
	max-height: 50px
}
.inctureMDBarClass {
	/* background-color: rgb(11, 109, 63) !important; */
	/* background-color: rgb(66, 133, 250) !important;*/ 
	background-color: rgb(59, 62, 115) !important; 
}
.inctureMDRightBoxClass .sapMFlexItem{
	padding: 0 0.5rem;
}
.incMRoundBorderRadiusClass {
	border-radius:50%;
	vertical-align:middle;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1>.sapUiRespGridSpanS9 .inctureMDPersonImageClass {
	display: none;
}
.inctureMDSplitAppClass .sapMSplitContainerMaster {
	width: 15.69rem;
}
.inctureMasterUserDetailsClass{
	font-size: 0.8rem !important;
    color: #f5eeee;
}

/* .incMDDataClass{
	margin-top:1rem;
}
 */
.masterTitleText{
	margin-left:1rem !important;
}
.masterSubTitleText{
	margin-left:2rem !important;
}
.incMDDataClass .masterSubTitleText .masterLabelText{
	color: #ffffff !important; 
	margin-left: 0.5rem;	
}
.logoImageClass{
 	width: 9.5rem;
	margin-left: 1.5rem;
}
.inctureNodeClass{
	margin-top: 0.5rem;
    margin-left: 4em;
    font-size: 1.2rem;
}

.inctureNodeTextClass.sapMText {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
    font-size: 1.2rem;
    font-family: Arial,Helvetica,sans-serif;
    line-height: normal;
    color: white !important;
}
/*------------------------------------------------------detail------------------------------------------------------------------*/

.pageBackground{
	background:#f2f2f2;
}
.priceUpdateHdrBoxClass {
	font-family: Open Sans !important;
	font-weight: bold !important;
}
.priceUpdateHdrBoxClass {
	border: 1px solid gainsboro;
	background: #fff;
	margin: 2%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 6px;
	margin-top: 15px;
	width: auto !important;
}
.priceUpdateHdrBoxStyleClass{
	border: 1px solid gainsboro;
	background: #fff;
	margin: 2%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
	border-radius: 6px;
	width: auto !important;
	margin-top: -2px !important;	
}
.priceUpdateFlexBoxClass.sapUiSizeCompact .sapMInputBase {
    margin-left: 0.4rem !important;
}
.inctureCheckoutBtn .sapMBtnInner {
	background : rgb(11, 109, 63) !important;
	border-color: rgb(11, 109, 63) !important;
	color: #fff !important;
	padding: 0px 20px !important;
}
.inctureBackBtn{
	margin-right:1.2rem !important;
}
.inctureCheckoutNetPriceBtn .sapMBtnInner {
	background : rgb(59, 62, 115) !important; 
	border-color: rgb(59, 62, 115) !important;;
	color: #fff !important;
	padding: 0px 20px !important;
}
.inctureCheckoutNetPriceBtn{
	margin-right: 1.5rem !important;
}

.inctureCheckoutSaveBtn .sapMBtnInner{
	background : #00aeef !important;
	border-color: #00aeef !important;
	color: #fff !important;
	padding: 0px 20px !important;	
}
.inctureCheckoutRejectBtn .sapMBtnInner{
	background : #e74b3d !important;
	border-color: #ed1c24 !important;
	color: #fff !important;
	padding: 0px 20px !important;	
}
/* .inctureCheckoutRejectBtn {
    margin-right: 1.9rem !important;
} */
 .middletoolbar{
	border-bottom: 0px solid #f2f2f2 !important;
	background:#f2f2f2;
	margin-bottom: -1rem;
    margin-top: -1rem;
} 
.netPriceBackToolbar{
	border-bottom: 0px solid #f2f2f2 !important;
	background:#f2f2f2;
	margin-bottom: -1rem;
    margin-top: -1rem;
}
.inctureSegBtns .sapMSegBBtn.sapMSegBBtnSel{
	background : rgb(11, 109, 63) !important;
	border-color: rgb(11, 109, 63) !important;
}
.inctureSegBtns {
	font-weight: normal !important;
}
.inctureConditonSegBtns .sapMSegBBtn {
    font-size: 0.8rem !important;
}
.inctureConditonSegBtns{
	margin-left:1.5rem !important;
    font-size: 0.8rem !important;
}
.toolbarSegBtn{
	margin-top: -0.4rem !important;
    margin-right: -0.75rem !important;
}
.rejectBtnMargin{
	margin-right: 1.5rem !important;
    /* margin-top: 0.5rem !important; */
}
.saveBtnMargin{
	margin-left: 1.5rem !important;
}
.matTblLblClass {
	font-size: 1.2rem !important;
    padding-left: 1rem;
    font-weight: bolder !important;
}
.materialTblClass{
	font-family: Open Sans !important;
    font-weight: bold !important;
    font-size:0.75rem !important;
    
}

.materialTblClass .sapMListTblCell {
	border: 1px solid #e5e5e5 !important;
}
.radioText .sapMLabel {
    color: #2d2d2d;
    font-size: 0.875rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: text;
}
.materialTblClass .sapMListTblSelCol+.sapMListTblCell {
	padding-left: 8px;
}

.materialTblClass .sapMListTblSelCol {
	border: 1px solid #e5e5e5 !important;
}
/* .materialTblClass tbody tr:nth-child(even) {
	background: #f5f5f5!important;
}

.materialTblClass tbody tr:nth-child(odd) {
	background: white !important;
} */
.materialTblClass .sapMListTbl th {
	background: rgba(255, 244, 243, 0);
}
.sapMITBContent {
    padding: 0rem !important; 
    position: relative;
}
.inctureTextClass{
	margin-left: -0.5rem !important;
	color:rgb(11, 109, 63) !important;
}
.inctureNetPrcTxtCls{
	color:rgb(11, 109, 63) !important;
	font-weight: bold !important;
	margin-left: 0.2rem;
}
.matTblHdrClass {
	font-family: Open Sans !important;
    font-weight: bold !important;
    font-size: 0.85rem !important;
    color: black !important;
}

.iconTabHeader{
	margin-top:-1.5rem !important;
}
.iconTabItemClass .sapMITBScrollContainer{
	margin-left:0.75rem !important;
}
.conditionRecordClass{
	margin-top:0rem !important; 
	padding:1.5rem !important; 
}
.iconTabHeader .sapMITH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #d1e0ee;
    background-color: rgba(238, 241, 245, 0.05);
    border-bottom: 0rem solid rgba(236, 240, 243, 0);
}
.textFontStyle{
	font-weight: bold !important;
}
.radioText .sapMRbB .sapMRbBInn {
    height: 0.2rem;
    width: 0.2rem;
    padding: 1px;
    border-radius: 1rem;
    margin: 0.11rem;
}
.radioText .sapMRbB .sapMRbBOut {
    height: 0.5rem;
    width: 0.5rem;
    border: 0.125rem solid #bfbfbf;
    border-radius: 1rem;
    background-color: #ffffff;
    margin: 1.1rem;
    padding: 1px;
}
.radioText{
	margin-top: 1rem !important;
}
.colorclass{
	background-color:yellow !important;
	color:white !important;
}
.colorclass1{
	background-color:red !important;
}
.Legend1Class{
	margin-left:1rem !important;
}
.Legend2Class{
	margin-left:1rem !important;
}
.Legend3Class{
	margin-left:1rem !important;
}
.Legend1Class .sapMBtnInner {
    height: 0.8rem;
    min-width: 0.8rem;
    background-color: #ffff00;
    border: 0px !important;
    border-radius: 0rem;
    
}
.Legend2Class .sapMBtnInner {
    height: 0.8rem;
    min-width: 0.8rem;
    background-color: red;
    border: 0px !important;
    border-radius: 0rem;
}
.Legend3Class .sapMBtnInner {
    height: 0.8rem;
    min-width: 0.8rem;
    background-color: white;
    border: 1px solid black !important;
    border-radius: 0rem;
}
.legendtext{
	margin-top:1rem !important;
	margin-left:0.5rem !important;
}
/* .legendbox{
	margin-bottom: -1.5rem;
} */
.imageClass{
 	margin-top: 1rem !important;	
}
.oldValueColor{
	color:red !important;
}
.horizonatlLineStyleClass{
	border-bottom: 2px solid red;
    width: 50%;
    align-self: center;
}
.businessContextLineStyle{
	 border-bottom: 2px solid red;	
}
.lineInPanelItemClass{
	border-bottom: 2px solid #f5f3f3;
    width: 100% ;
    align-self: center;
    margin-top: 1rem;
}
.afterClickBgColor{
	background-color:#686a87 !important;
}
.pendingRecordsStyle{
	background-color:#ffc000 !important;
}
.approveRecordsStyle{
	background-color:#0b6d3f !important;
}
.rejectRecordsStyle{
	background-color:#ed1c24 !important;
}
.inctureMDSideValueVboxStle{
	margin-left:1rem !important;
}
.approverCmntStle{
	margin-left:1rem !important;
}
.commentBoxStyle{
	width:26.5rem !important;
	height:7.5rem !important;
}
.lineCommentBoxStyle{
	width:31.5rem !important;
	height:6rem !important;
}
.sapUiSizeCompact .sapMTextArea>.sapMTextAreaInner {
    padding: 0.3125rem 0.5rem;
    height:7.2rem !important;
}
.cmntLblClass{
	font-size: 0.875rem !important;
    /* padding-left: 1rem; */
    font-weight: bolder !important;
    color: black;
    
}
 .scaleColHdrStyle .sapMListTblHeader th{
	text-align: center !important;
} 
.scaleColTextStyle .sapMListTblCell{
	text-align: center !important;
}
.scalesPopUpStyle{
	background:white;
}
.scalesLegendClass{
	margin-top:0.5rem;
}
.scalesToolBarHeader{
	margin-top: -1rem;
}
.netPriceVboxClass{
	margin-top:1rem;
}