/* Enter your custom styles here */
.dshbrdHdrBoxClass {
	border: 1px solid gainsboro;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
	border-radius: 5px;
	margin-left: 30px;
	margin-right : 30px;
}
.dashboardHdrBoxClass{
	margin-bottom :10px;
	margin-top : 10px;
	background : #ffffff59;
}
.dashboardHdrBtnStyle{
	padding-left : 3px;
	margin-right : .5rem;
}
.dashboardHdrInputStyle{
	padding-top : 7px;
}
.removeInputBorderStyle .sapMInputBaseInner {
	background-color: transparent;
	border: none;
	border-bottom : 1px solid #666666;
	position: relative;
	display: inline-block;
}
.tableOddRowCSS tr:nth-of-type(even) {
	background-color: rgba(224, 224, 224, 0.2);
}
.tableBorderClass .sapMListTblCell {
	border-right: 1px solid #e5e5e5 !important;
}
.tableBorderClass{
	overflow-x : auto;
}
.tableBorderClass .sapMListTblSelCol+.sapMListTblCell {
	padding-left: 8px;
}

.tableBorderClass .sapMListTblSelCol {
	border-right: 1px solid #e5e5e5 !important;
}
.dshbrdColumnTblHdrClass {
	font-family: Open Sans !important;
	font-weight: bold !important;
}
.tblSrchFldClass {
	margin-right: 1rem;
}

.tblSrchFldClass .sapMSFF {
	border-radius: 2px !important;
}
.sortingStyleClass {
	height: auto;
	border: none;
}
.filterColumnInputClass .sapMInputBaseInner {
	border: none !important;
}

.filterColumnInputClass.sapMInputBase {
	height: 2rem !important;
	margin-top: -1rem !important;
}
.popOverStyle{
	padding-left : 1rem !important; 
	padding-right : 1rem !important;
}
.createSkuDialogStyle{
	width:50%;
}
.createDialogLabelStyle{
	margin-top : 1rem !important;
}
.createComboStyle .sapMComboBoxTextField{
	background-color : transparent !important;
	border-left-style : none !important;
	border-right-style : none !important;
	border-top-style : none !important;
	border-bottom : 1px solid #666666 !important;
}
.dashboardTblLblClass{
	font-size: 1rem !important;
	padding-left: 1rem;
	font-weight: bolder !important;
}
.dashboardPanelHdng .sapMPanelExpandableIcon{
	left : 95%;
}
.dashboardPanelHdng .sapMPanelBGTranslucent{
	background : white;
}
.dashboardHeaderPanelClass{
	padding-left: 2%;
    padding-top: 1%;
}
.dashboardPanelHdng{
	background : darkseagreen;
	box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
.dashboardPanelHdng .sapMPanelHdr{
	text-shadow : none;
}
.sortStyle .sapMBtnTransparent{
	color: #346187 !important;
}
.sapMActionSheetPopover.sapMPopover{
	background : white !important;
}
.sapMActionSheetPopover.sapMPopover>.sapMPopoverArrUp:after{
	border-bottom-color : white !important;
}
/*.sapMBtnInner{
	height : 2rem;
}
.sapMBtnContent{
	line-height : 2rem;
}*/
.modifyBtnStyle .sapMBtnInner{
	background : orange;
	color : white;
	text-shadow : none;
}
.dashboardTblFootebtnStyle .sapMBtnInner{
	box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
}
.dashboardTlToolbarStyle{
	background : darkseagreen;
}
.downloadBtnStyle .sapMBtnInner{
	margin-right : 0.5rem;
}
.dashboardNotesTextareaStyle .sapMInputBaseInner{
	box-shadow: 0 0 0px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .5);
	border : 1px solid #f9f6f6;
}
.dashboardNotesHeaderClass .sapMBarContainer{
	background : darkseagreen;
	text-align : left;
}
.dashboardNotesHeaderClass .sapMTitle{
	font-weight: bold;
    margin-left: 9px !important;
}
.dashboardNotesTextareaStyle .sapMDialogScrollCont{
	padding : 0.5rem !important;
}


/********************************/
.backBtnHBoxClass{
	height : 0rem;
}
.backBtnStyle .sapMBtnIcon{
	font-size : 1rem;
	line-height : none;
}
.backBtnStyle .sapMBtnInner{
	border : none;
	background : transparent;
	
}
.statusHboxStyle{
	margin-top : 1rem;
}
.sizeVBoxStyle{
	width : 2rem;
	height : 2rem;
	border-radius : 1rem;
	border : 8px solid green;
}
.lineHBoxStyle{
	width : 4rem;
	background-color : #b9b6b6;
	height : 0.2rem;
	margin-top : 1rem;
}



/*Create Sku Fragment CSS Starts*/


.createSKUFrag .sapUiRespGrid.sapUiRespGridVSpace1>div {
	margin-bottom: 0rem !important;
}

.labelBold.sapMLabel {
	color: #000000 !important;
	/*font-weight: bold !important; */
	white-space: normal;	
}
.tooltip.sapMLabel
{
	font-size: 0.675rem;
	color: #000000 !important;
}

.fragTitle.sapMDialog>header.sapMDialogTitle .sapMTitle {
	color: #000000;
	font-weight: bold;
}

.fragTitle.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
	background-color: #ffffff;
	filter: none;
	background-image: none;
}

.createSKUFrag.sapUiSizeCompact.sapMDialog, .sapUiSizeCompact .sapMDialog
	{
	min-height: 2.5rem;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
	width: 34%;
}

.createSKUFrag.sapUiPopupWithPadding .sapMDialogScrollCont {
	padding: 1rem;
	background-color: #ffffff;
}

.createSKUFragGrid.sapUiRespGrid.sapUiRespGridHSpace1 {
	padding: 0 0.5rem;
	padding-top: 1rem;
}

.createSKUFrag .sapUiSizeCompact {
	min-height: 2.5rem;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
	width: 35%;
}

.GridClass .sapMInputBaseInner {
	color: #000000;
	border-top: 0px !important;
	background: #ffffff;
	border: 1px solid #bfbfbf;
	-webkit-appearance: none;
	border-radius: 0;
	vertical-align: top;
	margin: 0;
	-moz-appearance: textfield;
	font-size: 0.875rem;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	height: 1.6rem;
	padding: 0 0.7rem;
	border-left: 0px !important;
	border-right: 0px !important;
}

.createSKUtextArea.sapMInputBase.sapMTextArea .sapMTextAreaInner {
	-webkit-overflow-scrolling: touch;
	line-height: 1.4;
	height: 100%;
	width: 125%;
	border-bottom-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
.createSKUFragEdit.sapUiIcon {
    cursor: default;
    text-align: center;
    display: inline-block;
    padding-top: 2rem;
}
.attrLabel.sapUiSmallMarginTop
{
	margin-top: 0.25rem;
}
.validationIcon.sapMImg
{
	  padding-top: 1.8rem;
}
.UPCValidationIcon.sapMImg
{
	  padding-top: 0.8rem;
}
.sapMLabelRequired:before {
    content: "*";
    color: #cd2828;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0;
    position: relative;
    top: 0.15rem;
}
.selectFragClass{
	width : 100% !important;
	  border-top-style: none;
	    border-bottom-style: solid;
	    border-right-style: none;
	    border-left-style: none;
}

.selectBrandFragClass{
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    width: 82% !important;
}
.selectFragClass{
	width : 100% !important;
	  border-top-style: none;
	    border-bottom-style: solid;
	    border-right-style: none;
	    border-left-style: none;
}

.selectBrandFragClass{
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    width: 82% !important;
}
.addBrand.sapMImg
{
	margin-left: -1.8rem !important; 
	  padding-top: 0.8rem;
}
.UPCIcon {
   
    top: 0.8rem;
   
}


/*Create Sku Fragment CSS Starts*/