.dshbrdHdrBoxClass {
    border: 1px solid gainsboro;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.dashboardHdrBoxClass {
    margin-bottom: 10px;
    margin-top: 10px;
    background: #ffffff59;
}

.dashboardHdrBtnStyle {
    padding-left: 3px;
    margin-right: .5rem;
}

.dashboardHdrInputStyle {
    padding-top: 7px;
}

.removeInputBorderStyle .sapMInputBaseInner {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666666;
    position: relative;
    display: inline-block;
}

.tableOddRowCSS tr:nth-of-type(even) {
    background-color: rgba(224, 224, 224, 0.2);
}

.tableBorderClass .sapMListTblCell {
    border-right: 1px solid #e5e5e5 !important;
}

.tableBorderClass {
    overflow-x: auto;
}

.tableBorderClass .sapMListTblSelCol+.sapMListTblCell {
    padding-left: 8px;
}

.tableBorderClass .sapMListTblSelCol {
    border-right: 1px solid #e5e5e5 !important;
}

.dshbrdColumnTblHdrClass {
    font-family: Open Sans !important;
    font-weight: bold !important;
}

.tblSrchFldClass {
    margin-right: 1rem;
}

.tblSrchFldClass .sapMSFF {
    border-radius: 2px !important;
}

.sortingStyleClass {
    height: auto;
    border: none;
}

.filterColumnInputClass .sapMInputBaseInner {
    border: none !important;
}

.filterColumnInputClass.sapMInputBase {
    height: 2rem !important;
    margin-top: -1rem !important;
}

.popOverStyle {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.createSkuDialogStyle {
    width: 50%;
}

.createDialogLabelStyle {
    margin-top: 1rem !important;
}

.createComboStyle .sapMComboBoxTextField {
    background-color: transparent !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-top-style: none !important;
    border-bottom: 1px solid #666666 !important;
}

.dashboardTblLblClass {
    font-size: 1rem !important;
    padding-left: 1rem;
    font-weight: bolder !important;
}

.dashboardPanelHdng .sapMPanelExpandableIcon {
    left: 95%;
}

.dashboardPanelHdng .sapMPanelBGTranslucent {
    background: white;
}

.dashboardHeaderPanelClass {
    padding-left: 2%;
    padding-top: 1%;
}

.dashboardPanelHdng {
    background: darkseagreen;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.dashboardPanelHdng .sapMPanelHdr {
    text-shadow: none;
}

.sortStyle .sapMBtnTransparent {
    color: #346187 !important;
}

.sapMActionSheetPopover.sapMPopover {
    background: white !important;
}

.sapMActionSheetPopover.sapMPopover>.sapMPopoverArrUp:after {
    border-bottom-color: white !important;
}


/*.sapMBtnInner{
	height : 2rem;
}
.sapMBtnContent{
	line-height : 2rem;
}*/

.modifyBtnStyle .sapMBtnInner {
    background: orange;
    color: white;
    text-shadow: none;
}

.dashboardTblFootebtnStyle .sapMBtnInner {
    box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
}

.dashboardTlToolbarStyle {
    background: darkseagreen;
}

.downloadBtnStyle .sapMBtnInner {
    margin-right: 0.5rem;
}

.dashboardNotesTextareaStyle .sapMInputBaseInner {
    box-shadow: 0 0 0px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .5);
    border: 1px solid #f9f6f6;
}

.dashboardNotesHeaderClass .sapMBarContainer {
    background: darkseagreen;
    text-align: left;
}

.dashboardNotesHeaderClass .sapMTitle {
    font-weight: bold;
    margin-left: 9px !important;
}

.dashboardNotesTextareaStyle .sapMDialogScrollCont {
    padding: 0.5rem !important;
}


/********************************/

.backBtnHBoxClass {
    height: 0rem;
}

.backBtnStyle .sapMBtnIcon {
    font-size: 1rem;
    line-height: none;
}

.backBtnStyle .sapMBtnInner {
    border: none;
    background: transparent;
}

.statusHboxStyle {
    margin-top: 1rem;
}

.sizeVBoxStyle {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 8px solid green;
}

.lineHBoxStyle {
    width: 4rem;
    background-color: #b9b6b6;
    height: 0.2rem;
    margin-top: 1rem;
}


/*Create Sku Fragment CSS Starts*/

.createSKUFrag .sapUiRespGrid.sapUiRespGridVSpace1>div {
    margin-bottom: 0rem !important;
}

.wordWrapClass .sapMLabel {
    word-wrap:break-word;
    white-space: normal;
}

.tooltip.sapMLabel {
    font-size: 0.675rem;
    color: #000000 !important;
}

.fragTitle.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #000000;
    font-weight: bold;
}

.fragTitle.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color: #ffffff;
    filter: none;
    background-image: none;
}

.createSKUFrag.sapUiSizeCompact.sapMDialog,
.sapUiSizeCompact .sapMDialog {
    min-height: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 34%;
}

.createSKUFrag.sapUiPopupWithPadding .sapMDialogScrollCont {
    padding: 1rem;
    background-color: #ffffff;
}

.createSKUFragGrid.sapUiRespGrid.sapUiRespGridHSpace1 {
    padding: 0 0.5rem;
    padding-top: 1rem;
}

.createSKUFrag .sapUiSizeCompact {
    min-height: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 35%;
}

.gridClass .sapMInputBaseInner {
    color: #000000;
    border-top: 0px !important;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: top;
    margin: 0;
    -moz-appearance: textfield;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    height: 1.6rem;
    padding: 0 0.7rem;
    border-left: 0px !important;
    border-right: 0px !important;
}

.createSKUtextArea.sapMInputBase.sapMTextArea .sapMTextAreaInner {
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
    height: 100%;
    width: 125%;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.createSKUFragEdit.sapUiIcon {
    cursor: default;
    text-align: center;
    display: inline-block;
    padding-top: 2rem;
}

.attrLabel.sapUiSmallMarginTop {
    margin-top: 0.25rem;
}

.validationIcon.sapMImg {
    padding-top: 1.8rem;
}

.UPCValidationIcon.sapMImg {
    padding-top: 0.8rem;
}

.sapMLabelRequired:before {
    content: "*";
    color: #cd2828;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0;
    position: relative;
    top: 0.15rem;
}

.selectFragClass {
    width: 100% !important;
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
}

.selectBrandFragClass {
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    width: 82% !important;
}

.selectFragClass {
    width: 100% !important;
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
}

.selectBrandFragClass {
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
    width: 82% !important;
}

.addBrand.sapMImg {
    margin-left: -1.8rem !important;
    padding-top: 0.8rem;
}

.UPCIcon {
    top: 0.8rem;
}


/*Create Sku Fragment CSS Starts*/

.backBtnHBoxClass {
    height: 0rem;
}

.backBtnStyle .sapMBtnIcon {
    font-size: 1rem;
    line-height: none;
}

.backBtnStyle .sapMBtnInner {
    border: none;
    background: transparent;
}

.statusHboxStyle {
    margin-top: 2rem;
    margin-left: 20rem;
    width: 40rem;
    z-index: -1;
    background-color: red;
    height: 0.2rem;
}

.sizeVBoxStyle {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -1rem;
    background: #232323;
    border-radius: 1rem;
    border: 5px solid #00A264;
}

.lineHBoxStyle {
    width: 14rem;
    z-index: -1;
    background-color: red;
    height: 0.2rem;
    margin-top: 1rem;
}

.basicSwitchBtnClass .sapMSwtOn {
    background: #346f51;
    border-color: #346f51;
}

.basicSwitchBtnClass .sapMSwtOff {
    background: #346f51;
    border-color: #346f51;
}

.basicSwitchBtnClass .sapMSwtHoverable.sapMSwtOn:not(.sapMSwtAcceptReject):hover {
    background: #346f51 !important;
}

.basicSwitchBtnClass .sapMSwt.sapMSwtHoverable:hover {
    border-color: #346f51 !important;
}

.basicSwitchBtnClass .sapMSwtOff .sapMSwtText {
    color: white !important;
}

.basicSwitchBtnClass .sapMSwtOff .sapMSwtHandle {
    background: white !important;
}

.IconTabSelectClass {
    width: 80% !important;
    border-top-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-left-style: none;
}

.IconTabInputClass .sapMInputBaseInner {
    border-right: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;
    /*width: 80%;*/
}

.merchndsngTableClass {
    width: 70%;
    margin-left: 20%;
    box-shadow: 0 0 0px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .5);
    border-radius: 2px;
}

.iconTabfilter .sapMITH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #dddddd;
    background-color: #ceeaca;
}

.iconTabWidth .sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {
    color: #333333;
    text-shadow: 0 0rem 0;
}

.iconTabWidth .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    color: #4ea463;
}

.iconTabWidth .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #4ea463;
}

.iconPanelHdng .sapMPanelExpandableIcon {
    left: 95%;
}

.iconPanelHdng .sapMPanelBGTranslucent {
    background: white;
}

.iconPanelHdng {
    background: #ceeaca;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.iconPanelHdng .sapMPanelHdr {
    text-shadow: none;
}

.commitBtnClass {
    margin-right: 1.7rem;
}

.iconPanelCheckbox .sapUiRespGrid.sapUiRespGridVSpace1>div {
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.iconPanelToolbar.sapMTB {
    height: 3rem;
    background: #ceeaca;
    border: 1px solid #ceeaca;
    border-radius: 0.4rem;
}

.iconPanelToolbar .sapMTitle {
    color: #508171;
    font-weight: Bold;
}

.VBox {
    background: #fff;
   margin-left: 5%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.sizeVBoxStylenew {
    width: 2rem;
    height: 2rem;
    background: #232323;
    border-radius: 1rem;
    border: 5px solid #00A264;
}

.lineHBoxStylenew {
    width: 2.9rem;
    background-color: #a8e89f;
    height: 0.2rem;
    margin-top: 1rem;
}

.lineHBoxStylenew1 {
    width: 4rem;
    background-color: #ddedf1;
    height: 0.2rem;
    margin-top: 1rem;
}

.nav .sapMFlexItemAlignAuto {
    -webkit-align-self: auto;
    align-self: center;
}

.formBoxStyle {
    background: lightgrey;
    margin: 0rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 1px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tableClass .sapMInputBaseInner {
    color: #000000;
    border-top: 0px !important;
    background: #ffffff;
    border: 0px none #bfbfbf;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: top;
    margin: 0;
    -moz-appearance: textfield;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    height: 1.6rem;
    padding: 0 0.7rem;
    border-left: 0px !important;
    border-right: 0px !important;
}

.tableClass {
    padding-bottom: 1rem;
}

.createNewTaxCode.sapUiSizeCompact.sapMDialog,
.sapUiSizeCompact .sapMDialog {
    min-height: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 25%;
}

.createNewTaxCode .sapUiRespGrid.sapUiRespGridVSpace1>div {
    margin-bottom: 0rem !important;
}

.createTaxCodeTextArea.sapMTextArea .sapMTextAreaInner {
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
    height: 100%;
    width: 170%;
}

.createTaxCodeTextArea.sapMInputBaseInner {
    color: #000000;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: top;
    margin: 0;
    -moz-appearance: textfield;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    padding: 0 0.7rem;
}

.createNewTaxCodefragTitle.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #508171;
    font-weight: Bold;
}

.avalaraTaxToolbar.sapMTB {
    height: 3rem;
    background: #ceeaca;
    border: 1px solid #ceeaca;
}

.avalaraTaxToolbar .sapMTitle {
    color: #508171;
    font-weight: Bold;
}

html.sap-desktop .sapMSlt:not(.sapMSltExpanded):not(.sapMSltDisabled):not(.sapMSltState):focus {
    outline-offset: -3px;
    outline: 0px none #000000;
}

.sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::before {
    /*outline: 0px none #000000;*/
    border: none !important;
}
.productContentCopyTextArea.sapMTextArea .sapMTextAreaInner {
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
    height: 15.2rem;
    width: 270%;
}