/************************************************************* CSS For App**********************************************************/

.sapMSplitContainerMaster {
    background-color: rgb(59, 62, 115) !important;
}

.inctureMDShellClass .sapUiUfdShellHead {
    height: 3rem;
    /*background-color: rgb(11, 109, 63) !important;*/
    background-color: rgb(59, 62, 115) !important
}

.inctureMDShellClass .sapUiUfdShellCanvas {
    top: 3.2rem;
}

.inctureMDShellClass .sapUiUfdShellHeadItm>span {
    color: #fff;
}

.inctureMDShellClass .sapUiUfdShellHead {
    height: 3rem;
    top: 0px;
    background: transparent;
}

.inctureMDShellClass .sapUiUfdShellCanvas {
    top: 2.75rem;
}

.inctureMDShellClass .sapUiUfdShellBrand {
    background-color: transparent;
}

.inctureMDShellClass .sapUiUfdShell {
    background-color: #0080b9;
}

.inctureMDShellClass .sapUiUfdShellHead>div {
    background-color: #0080b9;
}

.inctureMDShellClass .sapUiUfdShellSearch {
    width: 70%;
    max-width: none;
}

.inctureMDShellClass .sapUiUfdShellHeadCenter {
    text-align: left;
    left: 15.5rem !important;
}


/** Header Logo Class **/

.inctureMDShellClass .sapUiUfdShellHeadBegin>.sapUiUfdShellIco {
    padding-left: 50px;
    margin-top: -5px;
}

.inctureMDShellClass .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
    max-height: 50px
}

.inctureMDBarClass {
    /* background-color: rgb(11, 109, 63) !important; */
    /* background-color: rgb(66, 133, 250) !important;*/
    background-color: rgb(59, 62, 115) !important;
}

.inctureMDRightBoxClass .sapMFlexItem {
    padding: 0 0.5rem;
}

.incMRoundBorderRadiusClass {
    border-radius: 50%;
    vertical-align: middle;
}

.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1>.sapUiRespGridSpanS9 .inctureMDPersonImageClass {
    display: none;
}

.inctureMDSplitAppClass .sapMSplitContainerMaster {
    width: 15.69rem;
}

.inctureMasterUserDetailsClass {
    font-size: 0.8rem !important;
    color: #f5eeee;
}

.incMDDataClass {
    margin-top: 1rem;
}

.masterTitleText {
    margin-left: 1rem !important;
}

.masterSubTitleText {
    margin-left: 2rem !important;
}

.incMDDataClass .masterSubTitleText .masterLabelText {
    color: #ffffff !important;
    margin-left: 0.5rem;
}

.logoImageClass {
    width: 9.5rem;
    margin-left: 1.5rem;
}

.inctureNodeClass {
    margin-top: 0.5rem;
    margin-left: 4em;
    font-size: 1.2rem;
}

.inctureNodeTextClass .sapMText {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    color: white !important;
}


/************************************************************App file css ended*************************************************************/


/************************************************Master page css Start**********************************************************************/

.incMasterPage {
    /* background-color: #252525; */
    /* background-color: rgb(66, 133, 250); */
    background-color: rgb(59, 62, 115) !important;
}

.inctureMDMasterListClass .inctureMDMasterListItemClass {
    background: #383f72 !important;
    border-bottom: 0;
    border-left: .5rem solid #383f72;
    height: 2.5rem;
}


/** Remove the hightlight class after click. Dotted border */

.inctureMDMasterListClass .sapMLIBFocusable:focus {
    outline: 0;
}


/** Once the list item is selected, change the background color */

.inctureMDMasterListClass .inctureMDMasterListItemClass .sapMLIBSelected {
    background: rgba(242, 242, 242, 0.64) !important;
    border-bottom: 0;
    border-left: .5rem solid #383f72;
}


/** Color of text when list item IS NOT selected */

.inctureMDMasterListClass .inctureMDMasterListItemClass:not(.sapMLIBSelected) .sapMText {
    color: #f2f2f2;
}


/** Color of text when list item IS selected */

.inctureMDMasterListClass .inctureMDMasterListItemClass.sapMLIBSelected .sapMText {
    color: #252525;
}

.inctureMDMasterListItemClass .sapMSLITitleOnly {
    font-size: 1rem;
    color: #f5eeee;
}


/*************************************************************Master page css ended********************************************************/


/************************************************************* Start Common Css for all detail Pages************************************************/

.pageBackground {
    background: #f2f2f2;
}

.panelClass .sapMPanelHdr {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    height: 2.5rem;
    line-height: 3rem;
    padding: 0 1rem;
    margin-left: 3.8rem !important;
    -webkit-text-size-adjust: none;
    font-weight: Bold !important;
    font-size: 1rem !important;
    font-family: Open Sans !important;
    color: #333333;
    background-color: white;
}

.panelClass .sapMTitle {
    font-weight: Bold !important;
    font-size: 1rem !important;
    font-family: Open Sans !important;
    margin-left: 12px !important;
}

.panelClass .sapMPanelExpandableIcon {
    position: absolute;
    width: 3rem;
    line-height: 2rem;
    font-size: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #346187;
    background: white;
}

.panelClass .sapUiRespGridSpanL4 {
    margin-top: 0.5rem !important;
    margin-bottom: 4px !important;
}

.panelClass .sapMPanelContent {
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.panelClass .sapMPanelWrappingDivTb {
    border-bottom: 1px solid #cccccc ;
}

.priceUpdateHdrBoxClass {
    font-family: Open Sans !important;
    font-weight: bold !important;
}
.FlexLayout .sapMIBar {
	height:2rem !important;
}

.priceUpdateHdrBoxClass {
    border: 1px solid gainsboro;
    background: #fff;
    margin: 12px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-right: 12px !important;
    width: auto !important;
}

.priceUpdateHdrBoxClass>.incSearchBarClass .sapMBar {
    display: block;
    width: 100%;
    position: relative;
    height: 2.5rem;
    line-height: 3rem;
    color: #666666;
    background-color: #fff;
    text-shadow: 0 0 0.125rem #ffffff;
    box-shadow: inset 0 -0.0625rem #d1e0ee;
    margin-top: 0.6rem !important;
}

.iconBtn .sapMBtnInner {
    background: white !important;
    border-color: rgb(11, 109, 63) !important;
    color: #fff !important;
    padding: 0px 10px !important;
}

.inctureDialogBtn .sapMBtnInner {
    background: rgb(11, 109, 63) !important;
    border-color: rgb(11, 109, 63) !important;
    color: #fff !important;
    padding: 0px 20px !important;
}

.inctureDialogBtn .sapMBtn {
    height: 3rem;
    margin: 11px;
    padding: -0.75rem 4.25rem;
    vertical-align: top;
    background-color: transparent;
}

.detailGridClass {
    background: #fff;
    padding-top: 10px !important;
    border-bottom: 1px solid #f3f3f3;
}

.barHeaderLblClass {
    font-size: 1rem !important;
    padding-left: 1rem;
    font-weight: bolder !important;
    /* font-weight: normal; */
    /* font-size: 1.125rem; */
    font-family: Open Sans !important;
    color: #333333 !important;
    margin-left: -0.2rem !important;
}

.gridLblClass {
    width: 8rem;
    padding-top: 0.3rem;
    text-align: left !important;
    margin-right: 7px !important;
    font-weight: normal;
}

.gridInput {
    width: 12.1rem !important;
}

.inctureComboBox {
    width: 12.1rem !important;
    margin-left: 1rem;
}


/************************************************************* Common Css for all detail Pages ended************************************************/


/*.sapMInputBaseInner {
font-family: Open Sans !important;
font-size: 0.8rem !important;
}*/

.materialTblClass {
    font-family: Open Sans !important;
    font-weight: bold !important;
}

.materialTblClass .sapMListTblCell {
    /* border: 1px solid #e5e5e5 !important; */
}

.materialTblClass .sapMListTblSelCol+.sapMListTblCell {
    padding-left: 8px;
}

.materialTblClass .sapMListTblSelCol {
    border: 1px solid #e5e5e5 !important;
}

.materialTblClass tbody tr:nth-child(even) {
    background: #f5f5f5!important;
}

.materialTblClass tbody tr:nth-child(odd) {
    background: white !important;
}

.materialTblClass .sapMListTbl th {
    background: #fafafa;
    background: white;
    border-bottom: 3px solid #ada2a2;
}

.matTblHdrClass {
    font-family: Open Sans !important;
    font-weight: bold !important;
    color: rgb(102, 102, 102) !important;
    font-size: 12px !important;
}

.gridLblClass {
    width: 8rem;
    padding-top: 0.3rem;
    text-align: left !important;
    margin-right: 7px !important;
    font-weight: normal;
}

.matTblLblClass {
    font-size: 1rem !important;
    padding-left: 1rem;
    font-weight: bold !important;
}

.matTblHdrLblClass {
    font-size: 0.8rem !important;
    padding-left: 1rem;
    /* font-weight: bolder !important; */
}

.ViewLblClass.searchlabelClass {
    font-size: 1rem !important;
    padding-left: 1rem;
    font-weight: normal !important;
}

.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel {
    font-size: 0.8rem !important;
    color: #333333;
    font-weight: normal;
    /*font-size: 11px ;*/
}

.materialTblClass .sapMListTblCell {
    border: 1px solid #e5e5e5 !important;
}


/**********************************************Summary Report*******************************************************************/

.searchBarClass.sapMBar {
    display: block;
    width: 100%;
    position: relative;
    height: 2.5rem;
    line-height: 3rem;
    color: #666666;
    background-color: #fff;
    text-shadow: 0 0 0.125rem #ffffff;
    box-shadow: inset 0 -0.0625rem #d1e0ee;
    margin-top: 0.6rem !important;
}

.inctureDialogBtn {
    height: 3rem;
    margin-right: 0.7rem !important;
    padding: -0.75rem 4.25rem;
    vertical-align: top;
    border: none;
    background-color: transparent;
}

.matSearchBoxClass {
    padding-top: 0.5rem;
}

.matSearchLblClass {
    font-size: 0.9rem !important;
    padding-left: 1.5rem;
    /* font-weight: bolder !important; */
}

.searchlabelClass {
    margin-left: -0.2%
}

.reportTypeBtn .sapMSegBBtn.sapMSegBBtnSel {
    background: #326d40 !important;
    color: #ffffff !important;
    border-color: #326d40 !important;
}

.reportTypeBtn {
    font-weight: normal !important;
}

.inctureDownloadBtn .sapMBtnInner {
    background: #00aeef !important;
    border-color: #00aeef !important;
    color: #fff !important;
    /* padding: 0px 20px !important; */
    margin-bottom: 11px;
}

.inctureDownloadBtn {
    margin-right: 0.7rem !important;
    width: 2rem;
}

.inctureDownloadBtn .sapMBtnIcon {
    color: #fff !important;
    ;
}


/********************************************summary report css end*****************************************************/


/******************************************** price trend css start*******************************************************/

.conTypeGridClass {
    margin-left: -1rem !important;
}

.conTypeGridClass .sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL12 {
    margin-top: 0.2rem !important;
    margin-bottom:0.2rem !important;
}

.incSearchBarClass {
	   background-color: #ffffff;
	   border-top-style:solid;
	   border-top-width: 1px;
	   border-top-color: #00000040;
}

.graphGridClass{
	padding-left:0px !important;
	padding-right:0px !important;
}

.graphGridClass .priceUpdateHdrBoxClass{
	margin-left: 12px !important;
	margin-right: 12px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	/*width: 32rem !important;*/
}

.graphGridClass .sapUiRespGridSpanL6.sapUiRespGridSpanM4.sapUiRespGridSpanS6.sapUiRespGridSpanXL6{
	margin : 0rem !important;
}

.popOverClass {
	margin-top:0.5rem;
}
.sapMPopover .sapUiRespGrid {
	width: unset !important;
}

.popOverDateLabel{
	font-weight: bold;
	margin-left: 1.5rem;
	margin-top: 0.4rem;
	color: #402592 !important;
}

.popOverLabel{
	font-weight: bold;
}
/******************************************* price trend css END *********************************************************/


/******************************************* vendorCompetitor css Start *********************************************************/

.separatorLine {
    border-bottom: 1px solid rgb(205, 205, 202);
    padding-bottom: 6px;
}

.comboboxStyle {
    width: 10rem !important;
}

.VendorPanelHTB.sapMPanelHeaderTB {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    height: 2.5rem;
    line-height: 3rem;
    padding: 0 1rem;
    margin-left: 3.8rem !important;
    -webkit-text-size-adjust: none;
    font-weight: Bold;
    font-size: 1rem;
    font-family: Open Sans !important;
    color: #333333;
    background-color: white;
}

.NetPriceHboxClass {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    height: 7rem;
    margin-left: 0rem !important;
    -webkit-text-size-adjust: none;
    font-weight: Bold;
    font-family: Open Sans !important;
    color: #333333;
    background-color: white;
    border: 1px solid gainsboro;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .5);
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 8px !important;
    width: auto !important;
}

.netPricesGrid .sapUiRespGridSpanL3.sapUiRespGridSpanM6.sapUiRespGridSpanS12.sapUiRespGridSpanXL3 {
    margin-left: 2px !important;
    margin-right: 12px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding: 0rem !important;
}
.detailedNpVboxClass .netPricesGrid {
	margin-left:2rem !important;
}

.detailGridClass .sapUiRespGrid.sapUiRespGridHSpace1.sapUiRespGridMedia-Std-Desktop.sapUiRespGridVSpace1 {
    margin: 0rem !important;
    padding: 0rem !important;
}

.detailGridClass .sapUiRespGridSpanL12 {
    margin-bottom: 0px !important;
}

.multiInputClasss .sapMMultiInputBorder {
    border: 0px solid #bfbfbf !important;
}

.multiInputClasss .sapMToken {
    font-size: 14px;
    background: #e0e0e0 !important;
    color:#584d94 !important;
}

.multiInputClasss .sapMTokenIcon {
    color: red;
}

.detailedNpVboxClass {
    width: 100%;
}

.dateVboxClass {
    font-size: 1px !important;
    width: 60px;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.spaceHboxClass {
    height: 20px;
}

.MonthClass {
    font-size: 12px;
    font-weight: 600;
    padding-left: 1px;
    color: #bd6868;
}

.DateClass {
    font-size: 18px;
    font-weight: bold;
    color: #4d97c1;
}

.yearClass {
    padding-left: 2px;
    font-size: 7px;
}

.vendorNameClass {
    font-weight: bold;
    margin-left:0.4rem !important;
    font-size: 14px;
    margin-top:4px;
}

.vendorNpCurrClass{
	font-weight: normal !important;
    color: #95509dd4;
	margin-bottom:0.4rem !important;
}

.vendorNPClass {
    font-weight: bold;
    font-size: 20px;
    margin-top:-0.8rem;
    color: #741c7dbf;
}

.checkBoxHboxClass{
	margin-left: 85%;
	width:1.5rem;
	height:1.5rem;
}

.checkBoxStyle .sapMCbBg {
    background-color: #ffffff;
    border: solid 0.125rem #bfbfbf;
    display: inline-block;
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    left:0.4rem;
    top:0.3rem;
}

.gridHboxClass {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
    padding-right:1rem;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px #00000052;
   border-width:0.5px;
   border-style:solid;
   border-color:#00000047;
}

.ConditionSuperSet {
    border: 1px solid gainsboro;
    background: #fff;
    margin: 1%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    width: 10rem !important;
    height: 24rem !important;
}
.ConditionSuperSet .superSetInfo {
	font-weight : bold !important;
	padding-left: 1rem;
}
.oVInfoBoxClass{
	font-weight : bold !important;
	padding-left: 1rem;
}

.cardBoxClass {
    border: 1px solid gainsboro;
    background: #fff;
    margin: 1%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .5);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    width: 15rem !important;
    height: 24rem !important;
}

.VendorProfile {
    height: 6rem;
    padding-left:20%;
}
.VendorProfile .sapMImg{
	width: 5rem;
	height: 5rem;
}
.priceUpdateHdrBoxClass .toolbarClass{
	background-color : white !important;
}
.priceUpdateHdrBoxClass .segmentedBtnClass{
	padding-right: 0.5rem;
}
.toolbarClass .DetailCompare.inctureDialogBtn .sapMBtnInner{
	background-color: rgb(59, 62, 115) !important;
}
.toolbarClass .ToggleButton{
	font-weight:bold;
	padding-right: 0.5rem;
}

.vBoxinner1Class{
	width: 80%;
}

.hBoxinnervBox2{
	/*margin-left:10rem;*/
	height: 1.3rem;
}

.legendBPriceClass{
	width:12px;
	height:12px;
	margin-left:-9.5rem;
}
.scrollContainerClass .sapMFlexBoxAlignContentStretch{
    /* -webkit-align-content: stretch; */
    align-content: normal !important;
}

.datePickerStyle{
	font-size: 1rem !important;
    font-family: arial,helvetica,sans-serif;
}

.popOverVboxClass{
	margin-left: 1rem;
}

.oCardDataClass{
    font-weight: bold !important;	
}

.toggleClear{
	margin-right: 80% !important;
}
/******************************************* vendorCompetitor css End *********************************************************/